<ul>
  <app-user *ngFor="let user of users" [nameuser]='user'></app-user> 
  
</ul>
<app-hola-mundo></app-hola-mundo>

<div>
  <p>Nombre: {{ name }}</p>
  <p>Direccion: {{ address.street }}</p>
  <p>Ciudad: {{ address.city }}</p>
  <p>Edad: {{ age }}</p>
  <p>Hobbies:</p>
  <ul>
    <li *ngFor="let hobby of hobbies">
      {{ hobby }}
    </li>
  </ul>
</div>

<button (click)="saludo()">saludar</button>

<ul>
  <li *ngFor="let user of users">{{ user }} <button (click)="deleteuser(user)">X</button></li>
</ul>